.sticky {
  position: sticky;
  top: 0;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

@media (max-width: 1200px) {
  .sticky {
    position: relative;
  }

  .wrapper {
    h1 {
      text-align: center;
    }
  }
}
