* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #0a192f;
  color: #fff;
}

h1 {
  font-size: 5rem;
}

a {
  text-decoration: none;
  color: #2979ff;
}

li {
  list-style: none;
}

li a {
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1600px;
  margin: 0 auto;
}

header a {
  padding: 0 10px;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  display: grid;
  place-items: center;
}

@media (max-width: 500px) {
  h1 {
    font-size: 3.5rem;
  }

  header {
    justify-content: center;
  }

  header a {
    display: none;
  }

  footer {
    font-size: small;
  }
}
