:root {
  /* Screen Size values */
  --screen-size-xs: 0;
  --screen-size-sm: 600px;
  --screen-size-md: 960px;
  --screen-size-lg: 1280px;
  --screen-size-xl: 1840px;

  /* Colors */
  --primary-color: #0a192f;
  --secondary-color: #152b4b;
}
