:root {
  /* Screen Size values */
  --mobile-size-sm: 330px;
  --mobile-size-md: 400px;
  --mobile-size-lg: 480px;
  --tablet-size-sm: 600px;
  --tablet-size-lg: 768px;
  --desktop-size-xs: 900px;
  --desktop-size-sm: 1080px;
  --desktop-size-md: 1200px;
  --desktop-size-lg: 1400px;

  /* Colors */
  --color-primary: #152b4b;
  --color-secondary: #a8b2d1;
  --color-white: #e6f1ff;
  --color-black: #232323;
  --color-gray: #a9a9a9;
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-blue: #2979ff;

  /* Font Sizes */
  --fz-xxs: 8px;
  --fz-xs: 9px;
  --fz-sm: 10px;
  --fz-md: 12px;
  --fz-lg: 14px;
  --fz-xl: 16px;
  --fz-xxl: 18px;
  --fz-heading: 28px;

  /* Radius */
  --border-radius: 4px;

  /* Sidebar */
  --sidebar-width: 250px;
}
