.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  flex: 1;
  max-width: 1600px;
  padding: 0 80px;
  margin: 0 auto;
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }

  @media (max-width: 500px) {
    padding: 0 20px;
    font-size: x-small;
  }
}
