.container {
  position: fixed;
  bottom: 0;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    width: 1px;
    height: 80px;
    background: linear-gradient(to top, #a8b2d1, #ffffff00);
    margin-top: 30px;
  }

  li {
    display: flex;
    flex-direction: column;

    a {
      padding: 10px 0;
    }

    :last-child {
      padding-bottom: 0;
    }
  }

  @media (max-width: 500px) {
    display: none;
  }
}
